extends baseEmail

block content
  p Привіт #{firstName},
  p Ласкаво просимо до Мередіан, ми раді мати вас 🎉🙏
  p Ми всі тут велика родина, тому не забудьте завантажити своє фото користувача, щоб ми познайомилися з вами ближче!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Завантажити фото
  p Якщо вам потрібна допомога з бронюванням наступного туру, будь ласка, не соромтеся зв’язатися зі мною!
  p - Богатько Олександр, CEO